.DS_Store
.gradle/
build/
**/build/
.idea/
*.iml
local.properties
.cxx/
captures/
*.apk
*.aab
*.ap_
*.dex
.kotlin/
node_modules/
.env
.env.*
!.env.example
*.jks
*.keystore
.kotlin-api/
api/*.api
!livo-api/api/livo-api.api
